#main {
  position: absolute;
  height: 100%;
  width: 100%;
}

#content {
  margin: 0 20px 0 20px;
  width: calc(100% - 40px);
}

body {
  margin: 0;
  font-family: "Open Sans";
  height: 100%
}

button {
  font-family: "Open Sans";
}

a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #1a90bf;
}

a:hover {
  text-decoration: underline;
}

pre {
  margin: 0;
}

table {
  border-spacing: 0;
}

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

tr.topline td {
  border: 0px solid #ddd;
  border-top-width: 1px;
}

tr.clickable:hover {
  cursor: pointer;
  background-color: #d1dfe6;
}

th {
  text-align: left;
  font-size: .7em;
  font-weight: normal;
  color: #999;
  padding: 5px 10px;
}

td {
  padding: 10px;
}

.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
}

.button {
  background-color: #1a90bf;
  color: white;
  border: 1px solid #1780ac;
  padding: 15px;
  cursor: pointer;
}
