<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="2.4">

    <display-name>RockScript</display-name>

    <servlet>
        <servlet-name>RockScriptServlet</servlet-name>
        <servlet-class>io.rockscript.app.RockScriptServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RockScriptServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>